# Environment variables
.env
arduino_secrets.h
config.js

# Python virtual environment
venv/
__pycache__/
*.pyc
*.pyo

# Pipenv and other dependency files
.venv/
*.egg-info/

# DB migration
migrations/

# DB
instance/

# Node modules
node_modules